---

import Layout from "@/layouts/Layout.astro";
import About from "@/components/About.astro";
---

<Layout description="Sobre nosotros, nuestra historia y nuestra misión y visión" title="Fullstack.pe - Nosotros">
    <main>
        <About />
    </main>
</Layout>
