---

import Layout from "@/layouts/Layout.astro";
import PrivacyPolicy from "@/components/PrivacyPolicy.astro";
---

<Layout description="Sobre nosotros, nuestra historia y nuestra misión y visión" title="Fullstack.pe - Nosotros">
    <main>
        <PrivacyPolicy />
    </main>
</Layout>
