---
import Layout from "@/layouts/Layout.astro";
import Contact from "@/components/Contact.astro";
---

<Layout description="Contacto" title="Fullstack.pe - Contacto">
    <main>
        <Contact />
    </main>
</Layout>
