---
import Benefits from "@/components/Benefits.astro";
import Contact from "@/components/Contact.astro";
import Hero from "@/components/Hero.astro";
import Separator from "@/components/Separator.astro";
import Services from "@/components/Services.astro";
import Skills from "@/components/Skills.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout
    description="En Fullstack.pe, una empresa peruana de desarrollo de software, nos especializamos en crear soluciones innovadoras utilizando las últimas tecnologías. Ofrecemos software personalizado que se adapta a las necesidades únicas de cada cliente, combinando eficiencia, escalabilidad y calidad. Con un profundo conocimiento del mercado local e internacional, estamos comprometidos a llevar tu idea al siguiente nivel con un enfoque moderno y resultados excepcionales. Confía en nosotros para convertir tu visión en realidad, apoyados por el talento y la creatividad"
    title="Fullstack.pe - Desarrollo de Software"
>
    <main>
        <Hero />
        <Services />
        <Separator />
        <Benefits />
        <Separator />
        <Skills />
        <Separator />
        <Contact />
    </main>
</Layout>
