---

import Layout from "@/layouts/Layout.astro";
import PrivacyPolicy from "@/components/PrivacyPolicy.astro";
---

<Layout description="Politicas de Privacidad" title="Fullstack.pe - Politicas de Privacidad">
    <main>
        <PrivacyPolicy />
    </main>
</Layout>
