---

import Layout from "@/layouts/Layout.astro";
import Terms from "@/components/Terms.astro";
---

<Layout description="Terminos y Condiciones" title="Fullstack.pe - Terminos y Condiciones">
    <main>
        <Terms />
    </main>
</Layout>
