---
import Typography from "./Typography.astro";
---

<div class="container-full px-5 md:py-10 max-w-7xl mx-auto">
    <Typography
        as="h2"
        variant="helvetica-subtitle"
        color="sky"
        class:list={"text-center"}>Contacto</Typography
    >
    <div class="grid grid-cols-1 md:grid-cols-2 md:gap-10 gap-5">
        <div
            class="my-5 flex items-center content-center justify-center flex-wrap gap-10"
        >
            <Typography
                as="p"
                variant="helvetica-quote"
                color="default"
                class:list={"text-center"}
                >¿Tienes alguna duda o quieres trabajar con nosotros?
                ¡Contáctanos!</Typography
            >

            <img
                class="max-h-56 w-auto"
                src="/img/together.png"
                alt="Contact"
            />
        </div>
        <div class="my-5">
            <form action="https://formspree.io/f/xnqoqzqz" method="POST">
                <div
                    class="grid grid-cols-1 gap-5 p-10 ring-2 ring-sky-500 rounded-xl"
                >
                    <div>
                        <label
                            for="name"
                            class="block text-sm font-medium text-white"
                            >Nombre</label
                        >
                        <input
                            type="text"
                            name="name"
                            id="name"
                            class="mt-1 p-1 text-white bg-sky-900 focus-visible:!ring-sky-900 focus:ring-sky-900 active:ring-sky-900 focus:border-sky-900 block w-full shadow-none sm:text-sm border-sky-900 rounded-md"
                            required
                        />
                    </div>
                    <div>
                        <label
                            for="number"
                            class="block text-sm font-medium text-white"
                            >Celular</label
                        >
                        <input
                            type="text"
                            name="number"
                            id="number"
                            class="mt-1 p-1 text-white bg-sky-900 focus-visible:!ring-sky-900 focus:ring-sky-900 active:ring-sky-900 focus:border-sky-900 block w-full shadow-none sm:text-sm border-sky-900 rounded-md"
                            required
                        />
                    </div>
                    <div>
                        <label
                            for="email"
                            class="block text-sm font-medium text-white"
                            >Correo</label
                        >
                        <input
                            type="email"
                            name="email"
                            id="email"
                            class="mt-1 p-1 text-white bg-sky-900 focus-visible:!ring-sky-900 focus:ring-sky-900 active:ring-sky-900 focus:border-sky-900 block w-full shadow-none sm:text-sm border-sky-900 rounded-md"
                            required
                        />
                    </div>
                    <div>
                        <label
                            for="message"
                            class="block text-sm font-medium text-white"
                            >Mensaje</label
                        >
                        <textarea
                            name="message"
                            id="message"
                            class="mt-1 p-1 text-white bg-sky-900 focus-visible:!ring-sky-900 focus:ring-sky-900 active:ring-sky-900 focus:border-sky-900 block w-full shadow-none sm:text-sm border-sky-900 rounded-md"
                            required></textarea>
                    </div>
                    <div class="flex justify-center">
                        <button
                            type="submit"
                            class="inline-flex justify-center py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-cyan-900 px-10"
                            >Enviar</button
                        >
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
