---
import Action from "./Action.astro";
import Typography from "./Typography.astro";
---

<div class="container-full px-5 md:py-10 max-w-7xl mx-auto">
    <Typography
        as="h2"
        variant="helvetica-subtitle"
        color="sky"
        class:list={"text-center"}>Contacto</Typography
    >
    <div class="grid grid-cols-1 md:grid-cols-2 md:gap-10 gap-5">
        <div
            class="my-5 flex items-center content-center justify-center flex-wrap gap-10"
        >
            <Typography
                as="p"
                variant="helvetica-quote"
                color="default"
                class:list={"text-center"}
                >¿Tienes alguna duda o quieres trabajar con nosotros?
                ¡Contáctanos!</Typography
            >

            <img
                class="max-h-56 w-auto"
                src="/img/together.png"
                alt="Contact"
            />
        </div>
        <div
            class="my-5"
            x-data="{
            data: {
                name: '',
                email: '',
                subject: '',
                number: '',
                message: '',
                accept_terms: false,
                origin: 'web'
            },
            notifySuccess: false,
            sendForm() {
                fetch('https://customer.fullstack.pe/api/contact-form', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json',
                    },
                    body: JSON.stringify(this.data),
                })
                    .then((response) => response.json())
                    .then((data) => {
                        this.notifySuccess = true;
                    })
                    .catch((error) => {
                        this.notifySuccess = false;
                    });
            },
        }"
        >
            <form x-on:submit.prevent="sendForm()">
                <div
                    class="grid grid-cols-1 gap-5 p-10 ring-2 ring-sky-500 rounded-xl"
                >
                    <div
                        x-show="notifySuccess"
                        class="bg-green-700 p-2 rounded-md"
                    >
                        <Typography
                            as="p"
                            variant="small"
                            color="default"
                            class:list={"text-center"}
                            >¡Gracias por contactarnos! Nos pondremos en
                            contacto contigo lo más pronto posible.</Typography
                        >
                    </div>
                    <div>
                        <label
                            for="name"
                            class="block text-sm font-medium text-white"
                            >Nombre *</label
                        >
                        <input
                            x-model="data.name"
                            type="text"
                            name="name"
                            id="name"
                            class="mt-1 p-1 text-white bg-sky-900 focus-visible:!ring-sky-900 focus:ring-sky-900 active:ring-sky-900 focus:border-sky-900 block w-full shadow-none sm:text-sm border-sky-900 rounded-md"
                            required
                        />
                    </div>
                    <div>
                        <label
                            for="number"
                            class="block text-sm font-medium text-white"
                            >Celular *</label
                        >
                        <input
                            x-model="data.number"
                            type="text"
                            name="number"
                            id="number"
                            class="mt-1 p-1 text-white bg-sky-900 focus-visible:!ring-sky-900 focus:ring-sky-900 active:ring-sky-900 focus:border-sky-900 block w-full shadow-none sm:text-sm border-sky-900 rounded-md"
                            required
                        />
                    </div>
                    <div>
                        <label
                            for="email"
                            class="block text-sm font-medium text-white"
                            >Correo *</label
                        >
                        <input
                            x-model="data.email"
                            type="email"
                            name="email"
                            id="email"
                            class="mt-1 p-1 text-white bg-sky-900 focus-visible:!ring-sky-900 focus:ring-sky-900 active:ring-sky-900 focus:border-sky-900 block w-full shadow-none sm:text-sm border-sky-900 rounded-md"
                            required
                        />
                    </div>
                    <div>
                        <label
                            for="subject"
                            class="block text-sm font-medium text-white"
                            >Asunto *</label
                        >
                        <input
                            x-model="data.subject"
                            type="text"
                            name="subject"
                            id="subject"
                            class="mt-1 p-1 text-white bg-sky-900 focus-visible:!ring-sky-900 focus:ring-sky-900 active:ring-sky-900 focus:border-sky-900 block w-full shadow-none sm:text-sm border-sky-900 rounded-md"
                            required
                        />
                    </div>
                    <div>
                        <label
                            for="message"
                            class="block text-sm font-medium text-white"
                            >Mensaje *</label
                        >
                        <textarea
                            x-model="data.message"
                            name="message"
                            id="message"
                            rows="5"
                            class="mt-1 p-1 text-white bg-sky-900 focus-visible:!ring-sky-900 focus:ring-sky-900 active:ring-sky-900 focus:border-sky-900 block w-full shadow-none sm:text-sm border-sky-900 rounded-md"
                            required></textarea>
                    </div>
                    <!-- Acepta termions y condiciones  -->
                    <div class="flex items
                    -center">
                        <input
                            x-model="data.accept_terms"
                            type="checkbox"
                            name="terms"
                            id="terms"
                            class="h-4 w-4 text-cyan-900 focus:ring-cyan-900 border-gray-300 rounded"
                            required
                        />
                        <label
                            for="terms"
                            class="ml-2 block text-sm font-medium text-white"
                        >
                            Aceptar <Action
                                as="a"
                                href="/terms-of-service"
                                aria-label="Terminos y condiciones"
                                class:list={"!text-sky-500"}
                            >
                                términos y condiciones
                            </Action>
                        </label>
                    </div>
                    <div class="flex justify-center">
                        <button
                            x-bind:disabled="!data.accept_terms"
                            type="submit"
                            class="disabled:bg-gray-800 inline-flex justify-center py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-cyan-900 px-10"
                            >Enviar</button
                        >
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
