---
import Action from "./Action.astro";
import ColorMode from "./ColorMode.astro";
import InformationCircle from "astro-heroicons/solid/InformationCircle.astro";
---

<header class="bg-transaparent" x-data="{
    openMenuMobile: false,
}">
    <nav
        class="mx-auto flex max-w-7xl items-center justify-between p-6 py-4 lg:px-8 relative"
        aria-label="Global"
    >
        <div class="flex lg:flex-1">
            <a href="/" class="-m-1.5 p-1.5 flex items-center">
                <span class="sr-only">Fullstack.pe</span>
                <img
                    class="h-16 w-auto"
                    src="/logo.webp"
                    alt="Logo Fullstack.pe"
                />
            </a>
        </div>
        <div class="flex lg:hidden">
            <button
                x-on:click="openMenuMobile = true"
                type="button"
                class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-white"
            >
                <span class="sr-only">Open main menu</span>
                <svg
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    aria-hidden="true"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
                </svg>
            </button>
        </div>
        <div
            class="hidden lg:flex lg:gap-x-12"
            x-data="{
            menuProductsOpen: false,
        }"
        >
            <Action as="a" href="/" aria-label="Ir al Inicio"> Inicio </Action>
            <Action as="a" href="/#services" aria-label="Ir al Servicios">
                Servicios
            </Action>
            <Action as="a" href="/about-us" aria-label="Ir al Nosotros">
                Nosotros
            </Action>
            <!-- <Action as="a" href="/" aria-label="Ir al Proyectos">
                Proyectos
            </Action> -->
            <Action as="a" href="/contacto" aria-label="Ir al Contacto">
                Contacto
            </Action>
        </div>
        <div class="hidden lg:flex lg:flex-1 lg:justify-end">
            <a
                href="https://customer.fullstack.pe"
                target="_blank"
                class="text-sm font-semibold leading-6 text-gray-900 dark:text-white font-nokio"
                >Zona de clientes <span aria-hidden="true">&rarr;</span></a
            >
            <span
                x-data="{ tooltip: false }"
                x-on:mouseover="tooltip = true"
                x-on:mouseleave="tooltip = false"
                class="ml-2 h-5 w-5 cursor-pointer"
            >
                <InformationCircle class="h-5 w-5 text-white" />
                <div
                    x-show="tooltip"
                    class="absolute md:right-3 text-white w-96 bg-sky-900 p-3 rounded-xl ring-2 ring-sky-500"
                >
                    <small class="text-xs">
                        La zona de clientes es exclusiva para nuestros clientes.
                        En ella puedes ver como se va desarrollando tu proyecto,
                        desde planeamiento, desarrollo, soporte, contraseñas y
                        muchas cosas mas, todo centralizado en un solo lugar.
                    </small>
                </div>
            </span>

            <!-- <ColorMode /> -->
        </div>
    </nav>
    <!-- Mobile menu, show/hide based on menu open state. -->
    <div
        class="lg:hidden"
        x-show="openMenuMobile"
        role="dialog"
        aria-modal="true"
    >
        <!-- Background backdrop, show/hide based on slide-over state. -->
        <div class="fixed inset-0 z-10"></div>
        <div
            class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-gray-900 px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
        >
            <div class="flex items-center justify-between">
                <!-- TODO: agregar logo -->
                <a href="/" class="-m-1.5 p-1.5 flex items-center">
                    <span class="sr-only">Fullstack.pe</span>
                    <img
                        class="h-16 w-auto"
                        src="/logo.webp"
                        alt="Logo Fullstack.pe"
                    />
                </a>
                <button
                    x-on:click="openMenuMobile = false"
                    type="button"
                    class="-m-2.5 rounded-md p-2.5 text-white"
                >
                    <span class="sr-only">Close menu</span>
                    <svg
                        class="h-6 w-6 stroke-white"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        aria-hidden="true"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                </button>
            </div>
            <div class="mt-6 flow-root">
                <div class="-my-6 divide-y divide-gray-500/10">
                    <div class="space-y-2 py-6">
                        <a
                            href="/"
                            class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-sky-900"
                            >Inicio</a
                        >
                        <a
                            href="/#services"
                            class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-sky-900"
                            >Servicios</a
                        >
                        <a
                            href="/about-us"
                            class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-sky-900"
                            >Nosotros</a
                        >
                        <a
                            href="/contacto"
                            class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-sky-900"
                            >Contacto</a
                        >
                    </div>
                    <div class="py-6">
                        <a
                            href="https://customer.fullstack.pe"
                            target="_blank"
                            class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-white hover:bg-sky-900"
                            >Zona de clientes</a
                        >

                        <small class="text-white">
                            La zona de clientes es exclusiva para nuestros
                            clientes. En ella puedes ver como se va
                            desarrollando tu proyecto, desde planeamiento,
                            desarrollo, soporte, contraseñas y muchas cosas mas,
                            todo centralizado en un solo lugar.
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
