---
import Typography from "./Typography.astro";
---
<div class="container-full bg-gradient-to-t from-sky-900 py-20">
    <div class="w-full grid grid-cols-1 md:grid-cols-2 max-w-7xl mx-auto">
        <div class="flex justify-center items-center content-center flex-wrap">
            <div class="grid grid-cols-4 grid-flow-row-dense w-full">
                <div class="col-span-4 flex items-center content-center">
                    <div class="w-20 h-20 md:h-32 md:w-40  ">
                        <img
                            src="/logo.webp"
                            alt="Logo Fullstack.pe"
                            class="h-full w-full object-cover"
                        />
                    </div>
                    <div>
                        <Typography as="h1" variant="section-title" color="sky">
                            Fullstack.pe
                        </Typography>
                        <div
                            class=""
                            x-data="{
                            quote: 'Desarrollo de Software',
                            text: 'D',
                            tipyng(){
                                    setInterval(() => {
                                        if(this.text.length < this.quote.length){
                                            this.text = this.quote.slice(0, this.text.length + 1)                        
                                        }else{
                                            this.text = 'D'
                                        }
                                    }, 200);
                                }
                            }"
                            x-init="tipyng()"
                        >
                            <Typography as="h2" variant={"nokio-quote"} color="default">
                                <span class="hasScope pl-1.5" x-text="text"></span>
                            </Typography>
                        </div>
                    </div>
                </div>
                <div class="col-span-3 col-start-2 mt-4">
                    <Typography as="h3" variant={"helvetica-quote"} color="default">
                        Aceleramos tu visión: software a medida y mantenimiento experto.
                    </Typography>
                </div>
                <div class="col-span-3 col-start-2">
                    <button class="rounded-lg bg-cyan-700 p-3 mt-5">
                        <Typography as="span" variant="medium" color="default" class:list={'text-xl'}>
                            Contáctanos
                        </Typography>
                    </button>
                </div>
            </div>
        </div>
        <div class="hidden md:flex justify-center items-center content-center text-left">
            <img
                class="max-h-full w-auto"
                src="/img/logo-img-3.png"
                alt="Fullstack.pe Hero Image"
            />
        </div>
    </div>
</div>
<style>
    .hasScope::after {
        content: "|";
        color: white;
        /* animation: blink .5s infinite; */
    }
    @keyframes blink {
        0%,
        100% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
    }
</style>
