---
import WrapperLogo from "./Logos/WrapperLogo.astro";
import Typography from "./Typography.astro";
---

<div class="container-full max-w-7xl mx-auto p-5">
    <Typography as="h2" variant="big" color="sky" class:list={"text-center my-5"}
        >Confiaron en nosotros</Typography
    >
    <div class="grid grid-cols-4 sm:grid-cols-10 gap-5 md:gap-8">
        <WrapperLogo>
            <img
                class="w-auto object-cover"
                src="/img/naxx.svg"
                alt="Net Axxes"
            />
        </WrapperLogo>
        <WrapperLogo>
            <img
                class="w-auto object-cover"
                src="/img/vyd.svg"
                alt="Vyd Corporaciones"
            />
        </WrapperLogo>
        <WrapperLogo>
            <img
                class="w-auto object-cover"
                src="/img/parkle.webp"
                alt="ParkleShop"
            />
        </WrapperLogo>
        <WrapperLogo>
            <img
                class="w-auto object-cover"
                src="/img/b6n.webp"
                alt="B6n"
            />
        </WrapperLogo>
        <WrapperLogo>
            <img
                class="w-auto object-cover"
                src="/img/zonia.webp"
                alt="Zonia"
            />
        </WrapperLogo>
        <WrapperLogo>
            <img
                class="w-auto object-cover"
                src="/img/gchool.webp"
                alt="GSchool"
            />
        </WrapperLogo>
        <WrapperLogo>
            <img
                class="w-auto object-cover"
                src="/img/danny.webp"
                alt="Danny"
            />
        </WrapperLogo>
        <WrapperLogo>
            <img
                class="w-auto object-cover"
                src="/img/gexem.webp"
                alt="Gexem"
            />
        </WrapperLogo>
        <WrapperLogo>
            <img
                class="w-auto object-cover"
                src="/img/fighter.webp"
                alt="Fighter"
            />
        </WrapperLogo>
        <WrapperLogo>
            <img
                class="w-auto object-cover"
                src="/img/meat-house.webp"
                alt="Casa de las carnes"
            />
        </WrapperLogo>
    </div>
</div>
