---
import Typography from "./Typography.astro";
import Javascript from "./Logos/Javascript.astro";
import Typescript from "./Logos/Typescript.astro";
import NestJs from "./Logos/NestJs.astro";
import VueJs from "./Logos/VueJs.astro";
import NuxtJs from "./Logos/NuxtJs.astro";
import React from "./Logos/React.astro";
import NextJs from "./Logos/NextJs.astro";
import Angular from "./Logos/Angular.astro";
import PHP from "./Logos/PHP.astro";
import Laravel from "./Logos/Laravel.astro";
---

<div class="container-full max-w-7xl mx-auto my-5">
    <Typography
        as="h2"
        variant="helvetica-subtitle"
        color="sky"
        class:list={"text-center"}>Tecnologias que dominamos</Typography
    >
    <div class="grid grid-cols-4 md:grid-cols-8 gap-6 mt-5">
        <Javascript />
        <Typescript />
        <NestJs />
        <VueJs />
        <NuxtJs />
        <React />
        <NextJs />
        <Angular />
        <PHP />
        <Laravel />
        

    </div>
</div>
