---
import Typography from "./Typography.astro";

import LanguagesGroup from "./Logos/LanguagesGroup.astro";
import FrameworksGroup from "./Logos/FrameworksGroup.astro";
import CloudGroup from "./Logos/CloudGroup.astro";
import DatabasesGroup from "./Logos/DatabasesGroup.astro";
import WebPageEcommerceGroup from "./Logos/WebPageEcommerceGroup.astro";
import SystemOperativeGroup from "./Logos/SystemOperativeGroup.astro";
import VersionManagmentGroup from "./Logos/VersionManagmentGroup.astro";
import VideoGamesGroup from "./Logos/3DVideoGamesGroup.astro";
import DesignStyles from "./Logos/DesignStyles.astro";
import ContainersGroup from "./Logos/ContainersGroup.astro";
---

<div class="container-full max-w-7xl mx-auto my-5">
    <Typography
        as="h2"
        variant="helvetica-subtitle"
        color="sky"
        class:list={"text-center"}>Tecnologias que dominamos</Typography
    >
    <div class="grid grid-cols-4 md:grid-cols-12 gap-4 mt-5">
        <LanguagesGroup />
        <!-- Frameworks -->
        <FrameworksGroup />
        <!-- Frameworks -->
        <!-- Cloud -->
        <CloudGroup />
        <!-- Cloud -->
        <!-- Bases de Datos -->
        <DatabasesGroup />
        <!-- Bases de Datos -->
        <!-- Paginas Web y Ecommerce -->
        <WebPageEcommerceGroup />
        <!-- Paginas Web y Ecommerce -->
        <!-- Sistemas Operativos -->
        <SystemOperativeGroup />
        <!-- Sistemas Operativos -->
        <!-- Versionamiento -->
        <VersionManagmentGroup />
        <!-- Versionamiento -->
        <!-- 3D Y videojuegos -->
        <VideoGamesGroup />
        <!-- 3D Y videojuegos -->
        <!--  -->
        <DesignStyles />
        <ContainersGroup />
       
    </div>
</div>
