---
import { ViewTransitions } from 'astro:transitions';
import Header from "@/components/Header.astro";
import type { Preload } from "@/types/Preload"
import Whatsapp from '@/components/Whatsapp.astro';

interface Props {
	title: string
	description: string
	preload?: Array<Preload>
	canonical?: string
	image?: string
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Software " />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.ico" />
		<link rel="stylesheet" href="/fonts/nokio/stylesheet.css" />
		<link rel="stylesheet" href="/fonts/helvetica-rounded/stylesheet.css" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="bg-white dark:bg-gray-900">
		<!-- <Loader /> -->
		<Header />
		<slot />
		<Whatsapp />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		/* background: #13151a; */
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
